@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap');
@font-face {
	font-family: 'Balqis';
	src: url('./fonts/Balqis.eot');
	src: local('☺'), url('fonts/Balqis.woff') format('woff'), url('fonts/Balqis.ttf') format('truetype'), url('fonts/Balqis.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
*{
    box-sizing: border-box;
}
html,
body{
    margin: 0;
    height: 100%;
}
header{
    background-image: url(./images/rectangle-43.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 100%;
}
header nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 75%;
    width: 100%;
    padding-top: 30px;
}
header nav ul{
    margin: 0;
    list-style-type: none;
    display: flex;
}
header nav ul li{
    padding:0 10px;
}
header nav ul li a{
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
}
.number-link{
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    align-items: baseline;
}

.phone-icon{
    height: 18px;
    width: 18px;
    margin-right: 5px;
}
.heading-in-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    margin-top:100px;
    width: 100%;
}
.major-heading-in-header{
    font-family: 'Balqis';
    font-weight: 400;
    font-size: 15vw;
    margin: 0 auto;
}
.under-the-heading-in-header{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 3.5vw;
    font-weight: 300;
    padding-left:400px;
    margin: 0px;
}
.fairy-tail{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
}
.fairy-tail-container{
    display: flex;
}
.heading-container{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right:auto;
}
.heading-in-fairy-tail-div{
    font-family: 'Balqis';
    font-weight: 400;
    font-size: 80px;
    color: #E2AB3F;
    margin: 0;
}
.under-the-heading-in-fairy-tail-div{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding-left: 100px;
}
.picture-in-fairy-tail-div{
    width: 700px;
    height: 500px;
    margin-left: 0;
    transform: translate(-230px);
}
.list-in-fairy-tail-div{
    margin: auto 0;
    transform: translate(-150px);
}
.list-in-fairy-tail-div div{
    font-family: 'Roboto Condensed', sans-serif;
     margin-bottom: 25px;
     width: 390px;
}
.list-in-fairy-tail-div div:last-child{
    margin-bottom: 0;
}
.list-in-fairy-tail-div h2{
    font-weight: 400;
}
.list-in-fairy-tail-div ul{
    list-style-type: none;
    padding: 0;
}
.our-trip{
    display: flex;
    flex-direction: column;
    max-width: 84.5%;
    margin-left: auto;
    margin-top: 100px;
}
.our-trip-container{
    display: flex;
}
.heading-in-our-trip-div{
    font-family: 'Balqis';
    font-weight: 400;
    font-size: 80px;
    color: #E2AB3F;
    margin: 0;
}
.picture-in-our-trip-div{
    width:700px;
    height:735px;
    transform: scale(.9);
    transform-origin: right top;
}
.under-the-heading-in-our-trip-div{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding-left: 200px;
}
.list-in-our-trip-div{
    width: 100%;
    margin:auto 0;
    margin-top: 45px;
}
.list-in-our-trip-div div{
    font-family:'Roboto Condensed', sans-serif ;
}
.list-in-our-trip-div ul{
    list-style-type: none;
    padding: 0;
}
.list-in-our-trip-div h2{
    font-weight: 400;
}
.button-in-our-trip-div{
    border: 1px solid #E2AB3F;
    padding:10px 20px;
    text-align: center;
    cursor: pointer;
    background-color: white;
}
.button-in-our-trip-div:hover{
    background-color: #E2AB3F;
}
.button-in-our-trip-div a{
    text-decoration: none;
    font-family:'Roboto Condensed', sans-serif ;
    font-weight: 300;
    font-size: 16px;
    color: black;
}
.button-in-our-trip-div  a:hover{
    color: white;
}
.heading-container-in-hotel-div{
    margin-right: auto;
    margin-bottom: 50px;
}
.heading-in-hotel-div{
    font-family: 'Balqis';
    font-weight: 400;
    font-size: 80px;
    color: #E2AB3F;
    margin: 0;
}
.under-the-heading-in-hotel-div{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding-left: 100px;
}
.hotel{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}
.hotel-container{
    display: flex;
}
.list-in-hotel-div{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.picture-container-in-hotel-div{
    display: flex;
}
.picture-of-hotel{
    width: 96%;
    height: 140px;
    margin-left: 0;
    max-width: 100%;
}
.picture-in-hotel-div{
    height: 600px;
    width: 400px;
    margin-right: 80px;
}
.price{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}
.under-heading-in-price-div{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding-left: 120px;
}
.heading-container-in-price-div{
    margin-right: auto;
    margin-bottom: 50px;
}
.heading-in-price-div{
    font-family: 'Balqis';
    font-weight: 400;
    font-size: 80px;
    color: #E2AB3F;
    margin: 0;
}
.price-container{
    display: flex;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
}
.price-container div h1{
    font-weight:400 ;
}
.price-container div:first-child{
    margin-right:100px;
    max-width: 40%;
}
.price-container div ul{
    list-style-type: none;
    padding: 0;

}
.price-container div ul li{
    margin: 10px;
    margin-left: 0;
}
.picture-of-balloon-1{
    width: 53px;
    height: 88px;
    position: absolute;
    left: 1000px;
    top: 3600px;
}
.picture-of-balloon-2{
    width: 53px;
    height: 88px;
    position: absolute;
    left: 1070px;
    top: 3700px;
}
.picture-of-balloon-3{
    width: 186px;
    height: 285px;
    position: absolute;
    left: 1100px;
    top: 3450px;
}
.tour-date-container{
    display: flex;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 100px;
}
.picture-in-tour-date-div{
    width: 500px;
    height: 700px;
    margin-left: 115px;
}
.list-in-tour-date-div{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    max-width: 50%;
    margin: auto 0;
}
.under-the-heading-in-tour-date-div{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding-left: 220px;
}
.heading-in-tour-date-div{
    padding-right: 50px;
    font-family: 'Balqis';
    font-weight: 400;
    font-size: 80px;
    color: #E2AB3F;
    margin: 0;
}
.price-in-tour-date-div{
    padding-right:50px ;
    font-family: 'Balqis';
    font-weight: 400;
    font-size: 80px;
    color: #E2AB3F;
    margin: 0;
}
.under-the-price-in-tour-date-div{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding-left: 310px;
    margin-bottom: 50px;
}
.list-in-tour-date-div h2{
    font-size: 22px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}
.list-in-tour-date-div input{
    border:1px solid #E2AB3F ;
    padding: 8px 16px;
    width: 83%;
    margin: 10px;
    margin-right: 0;
}
::-webkit-input-placeholder{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
}
.button-in-tour-date-div{
    border:1px solid #E2AB3F ;
    padding: 2% 8%;
    background-color: white;
    width: 50%;
    text-align: center;
    margin: 0 17%;
}
.button-in-tour-date-div:hover{
    background-color: #E2AB3F;
}
.button-in-tour-date-div a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}
footer{
    background-image: url(./images/rectangle-42.png);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 650px;
    margin-top: 150px;
}
.footer-container{
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}
.balloon-picture-in-footer{
    background-image: url(./images/white-balloon.png);
    transform: scale(.8);
    transform-origin: right;
    background-repeat: no-repeat;
    width: 356px;
    height: 527px;
}
.heading-in-footer{
    margin-top: 150px;
    margin-bottom: 0;
    font-family: 'Balqis';
    font-weight: 400;
    font-size: 70px;
    color: #000000;
}
.heading-in-balloon-picture{
    font-family: 'Balqis';
    font-weight: 400;
    font-size: 70px;
    color: #E2AB3F;
    margin: 0;
}
.email-icon-in-balloon-picture{
    width: 20px;
    height: 20px;
    margin: 3px;
}
.icons{
    display: flex;
}
.youtube-icon{
    margin-right: 10px;
}
.facebook-icon{
    margin-right: 10px;
}
.link-in-footer-balloon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-top:25%;
}
.heading-in-balloon-picture{
    margin-bottom: 20px;
}
footer .number-link:nth-child(3){
    margin-bottom: 45px;
}

@media (max-width:1250px){
    header nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header nav ul{
        flex-direction: column;
    }
    .under-the-heading-in-header{
        padding-left: 0;
    }
    .fairy-tail-container{
        flex-wrap: wrap;
        transition: 5s;
        max-width: 95%;
        margin: 0 auto;
    }
    .picture-in-fairy-tail-div{
        transform: translate(0);
        max-width: 100%;
        width: 850px;
        flex-grow: 8;
    }
    .list-in-fairy-tail-div{
        transform: translate(0);
    }
    .list-in-fairy-tail-div div{
        text-align: justify;
        width: calc(0px + 100%);
    }
    .heading-container{
        max-width: 100%;
        margin: 100px auto;
        margin-bottom: 50px;
    }
    .our-trip-container{
        flex-direction: column-reverse;
        margin: 0 auto;
    }
    .our-trip{
        margin: 0 auto;
    }
    .picture-in-our-trip-div{
        transform: scale(1);
        max-width: 100%;
    }
    .adaptation-container{
        display: flex;
        max-width: 100%;
        justify-content: space-around;
        flex-grow: 24;
    }
    .heading-container-in-our-trip-div{
        max-width: 100%;
        margin: 100px auto;
        margin-bottom: 50px;
    }
    .heading-container-in-hotel-div{
        max-width: 100%;
        margin: 100px auto;
        margin-bottom: 50px;
    }
    .hotel{
        margin: 0 auto;
    }
    .hotel-container{
        flex-wrap: wrap;
        margin: 0 auto;
    }